[build-system]
requires = ["flit_core >=2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "qpsolvers"
readme = "README.md"
authors = [
    {name = "Stéphane Caron", email = "stephane.caron@normalesup.org"},
]
maintainers = [
    {name = "Stéphane Caron", email = "stephane.caron@normalesup.org"},
]
dynamic = ['version', 'description']
requires-python = ">=3.7"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: GNU Lesser General Public License v3 (LGPLv3)",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: Scientific/Engineering :: Mathematics",
]
dependencies = [
    "daqp >=0.5.1",
    "ecos >=2.0.8",
    "numpy >=1.15.4",
    "osqp >=0.6.2",
    "scipy >=1.2.0",
    "scs >=3.2.0",
]
keywords = ["quadratic programming", "solver", "numerical optimization"]

[project.optional-dependencies]
open_source_solvers = [
    "clarabel >=0.4.1",
    "cvxopt >=1.2.6",
    "daqp >=0.5.1",
    "ecos >=2.0.8",
    "highspy >=1.1.2.dev3",
    "osqp >=0.6.2",
    "proxsuite >=0.2.9",
    "quadprog >=0.1.11",
    "scs >=3.2.0",
]

[project.urls]
Documentation = "https://qpsolvers.github.io/qpsolvers/"
Source = "https://github.com/qpsolvers/qpsolvers"
Tracker = "https://github.com/qpsolvers/qpsolvers/issues"
Changelog = "https://github.com/qpsolvers/qpsolvers/blob/master/CHANGELOG.md"

[tool.black]
line-length = 79

[tool.coverage]
report.include = ["qpsolvers/*"]
report.omit = ["qpsolvers/unsupported/*"]

[tool.ruff]
line-length = 79
select = [
    # pyflakes
    "F",
    # pycodestyle
    "E",
    "W",
    # isort
    "I001",
    # pydocstyle
    "D"
]
ignore = [
    "D401",  # good for methods but not for class docstrings
    "D405",  # British-style section names are also "proper"!
]

[tool.ruff.pydocstyle]
convention = "numpy"
