backports.shutil-get-terminal-size==1.0.0
cvxopt==1.1.8
cvxpy==1.1
Cython==0.29.2
decorator==4.3.0
dill==0.2.8.2
ecos==2.0.7.post1
enum34==1.1.6
fastcache==1.0.2
future==0.17.1
ipython==5.8.0
ipython-genutils==0.2.0
multiprocess==0.70.6.1
numpy==1.15.4
osqp==0.5.0
pathlib2==2.3.3
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==1.0.15
ptyprocess==0.6.0
Pygments==2.3.1
qpsolvers==1.0.4
quadprog==0.1.6
scandir==1.9.0
scipy==1.2.0
scs==2.0.2
simplegeneric==0.8.1
six==1.12.0
spicy==0.16.0
traitlets==4.3.2
wcwidth==0.1.7
