a, a:visited, a:focus {
  color: rgb(46, 118, 176);
  text-decoration: none;
}

a:hover, a:active {
  color: rgb(0, 32, 72);
  text-decoration: none;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: white;
    font-weight: 600;
}

.wy-menu-vertical a {
    color: rgb(178, 188, 200);
}

.wy-menu-vertical a:hover {
    background: rgb(46, 118, 176);
    color: white;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: black;
    font-weight: 600;
}

.wy-menu-vertical a{
    color: black;
}
.wy-nav-content-wrap, .wy-menu li.current > a {
    background-color: white;
}

.wy-nav-side {
    background: rgb(231, 242, 250);
}

.wy-nav-top {
    background: rgb(231, 242, 250);
}

.wy-nav-top a {
    color: black;
}

.wy-nav-top i {
    color: rgb(46, 118, 176);
}

.wy-side-nav-search {
    background: rgb(168, 211, 255);
}

.wy-side-nav-search > div.version {
    color: black;
}

.wy-side-nav-search > a{
    color: black;
}
